@page "/"

<h1>Welcome to Planly!</h1>

<p>
    This is a time management application written in C# 9 & .NET 5.0.<br />
    Main features include:
    <ul>
        <li>Manual schedule management (create, read, edit and delete Sessions).</li>
        <li>Automatic session scheduling using Tasks.</li>
        <li>Track completion of sessions and tasks.</li>
        <li>Sync entries to and from Google Calendar.</li>
        <li>View, manage roles and block users (for administrators only).</li>
    </ul>
</p>